<body>
<div style="font-size: x-large"><t1><center><b><u>Insta-Fourm</u></b></center></t1></div>
<button><a href="/signup"><b1><b>Sign up</b></b1></a></button>
<div><t1><b>Sign in:</b></t1></div>
<input id="username" placeholder="Username">
<input id="password" placeholder="Password" type="password">
</body>