<div><t1><center><b>Create Thread</b></center></t1></div>
<form method="post" action="/main" class="submit">
<div><center><input name="topic" placeholder="Topic"></center></div>
<center><textarea name="thread" rows="5" cols="50" placeholder="Say something"></textarea></center>
<center><button><b2><b>Post</b></b2></button></center>
</form>