<body><div><t1><b>Sign up</b></t1></div>
<input id="new_username" placeholder="Username">
<input id="new_password" placeholder="Password" type="password">
<button><a href="/"><b1><b>Create Account</b></b1></a></button>
</body>