<body><div><t1><b>Sign up</b></t1></div>
<form method="post" action="/signup">
<input name="new_username" placeholder="Username">
<input name="new_password" placeholder="Password" type="password">
<button><b1><b>Create Account</b></b1></button>
</form>
</body>